{% load get_dict_val %}

{% with my_ratings|get_dict_val:object.id as current_rating %}

<div class="card shadow-sm">
    {% comment %} <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
    </svg> {% endcomment %}

    <div class="card-body">
        <h3>{{ object.title }}</h3> <small> <b>{{ object.id }}</b></small>
        <p class="card-text">{{ object.overview }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary"
                    href='{{ object.get_absolute_url }}'>View</a>
                {% comment %} <a type="button" class="btn btn-sm btn-outline-secondary" href='{{ }}'>Edit</a>
                {% endcomment %}
            </div>
            <div>
                <select class='form-control'>
                    {% for choice in ratings_choice %}
                        {% if choice is None %}    
                            <option disabled selected="{{ choice }}">Pick a rating</option>
                        {% else %} 
                            <option {% if current_rating == choice %} selected {% endif %} value="{{ choice }}">{{ choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                {% if object.rating_avg is not None %}
                <small class="text-muted">{{ object.rating_avg }} {{ object.rating_count }}</small>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}