{% url 'movies:movie_list' as MovieListURL %}
{% url 'movies:movie_infinte' as MovieInfinteURL %}
{% load account %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="{{MovieListURL}}">Movie Recommender</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{MovieListURL}}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{MovieInfinteURL}}">Infinite</a>
                </li>
            </ul>
            <a class='btn btn-primary' href='/accounts/logout/'>{% user_display user %} </a>
            {% comment %} <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
        </div>
    </div>
</nav>